html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #1E1E1E;
    color: #ffd54f;
    padding: 1%;
}


/*
Nodes
*/

h1 {
    margin-left: 5%;
}

a {
    color: #ffff81;
}

header h1 {
    display: inline;
    font-size: x-large;
}

header h1 a {
    text-decoration: none;
}

#nav-bar>a {
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    color: #D0D0D0;
    font-weight: bold;
}

#nav-bar>a:hover {
    color: #ffd54f;
    border-bottom: solid #ffd54f;
    border-radius: 1em;
}

#nav-bar {
    float: right;
}


/*
Classes
*/

.overrable-block {
    border-radius: 5px;
    padding: 5px;
    border-color: #ffd54f;
    border-style: solid;
    border-width: 0px;
}

.overrable-block:hover {
    border-width: 1px;
}

.light {
    background-color: #ffd54f;
    color: #1E1E1E;
}


/*
Responsive 
*/

@media screen and (min-width: 800px) {
    h1 {}
}