html {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #1E1E1E;
    color: #58a5f0;
    padding: 1%;
}


/*
Nodes
*/

h1 {
    margin-left: 5%;
}

a {
    color: #58a5f0;
}

header h1 {
    display: inline;
    font-size: x-large;
}

header h1 a {
    text-decoration: none;
}

#nav-bar>a {
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    color: #D0D0D0;
    font-weight: bold;
}

#nav-bar>a:hover {
    color: #58a5f0;
    border-bottom: solid #58a5f0;
    border-radius: 1em;
}

#nav-bar {
    float: right;
}

section {
    margin: 10%;
    color: whitesmoke;
}

section h1 {
    margin-left: 0%;
    font-size: xx-large;
    font-weight: bold;
    margin-block-end: 0.2em;
    margin-block-start: 0.2em;
}

section p {
    margin-top: 0px;
    margin-bottom: 1em;
}

section .major-icon {
    margin-right: 1em;
}


/*
Classes
*/

.overrable-block {
    border-radius: 5px;
    padding: 5px;
    border-color: #0277bd;
    border-style: solid;
    border-width: 0px;
}

.overrable-block:hover {
    border-width: 1px;
}

.light {
    background-color: #0277bd;
    color: white;
}

.rounded {
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #0277bd;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.rounded:hover {
    background-color: #58a5f0;
}

.major-icon {
    height: 5em;
    fill: #58a5f0;
}

.inlined {
    display: inline;
}

.flex-container {
    display: flex;
}


/*
Background 
*/

#background {
    position: absolute;
}

#background div {
    position: absolute;
}