html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #1E1E1E;
    color: #ffd54f;
}


/*
Titles
*/

h1 {
    margin-left: 10%;
}


/*
Classes
*/


/*
Responsive 
*/

@media screen and (min-width: 800px) {
    h1 {}
}